.fondoerror404 {
    margin: 0;
    font-family: "Helvetica", sans-serif;
    background-image: url('../assets/NotFound.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: rgb(0, 38, 255);
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    padding-bottom: 1em;
    min-height: 100vh;
    position: relative;
}

.textsize {
    font-size: 3em;
}