.homeback{
    background: linear-gradient(to left, #020214, rgb(7, 5, 53));
}

.spinner {
    position: fixed;
    top: 2em;
    right: 2em;
    z-index: 10000;
}

.Adproductback{
    color: white;
    background: linear-gradient(to left, #020214, rgb(7, 5, 53));
    background: cover;
    min-height: 100vh;
}

.jumbotron {
    background-color: #343a40;
    color: white;
    padding: 2rem 1rem;
    border-radius: 10px;
}